.root {
    padding-top: 152px;
    padding-bottom: 180px;
}

.title {
    margin-bottom: 20px;
}

.subtitle {
    margin: 0 auto 50px;

    max-width: 900px;
}

.imgwrapper {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    background: url('../../assets/picture1.jpg') center/cover no-repeat;
}

@media screen and (max-width: 860px) {
    .subtitle {
        width: 84%;
    }
}


@media screen and (max-width: 430px) {
    .root {
    padding-top: 100px;
    padding-bottom: 105px;
}

    .subtitle {
        margin-bottom: 20px;
    }

    .imgwrapper {
        width: 200px;
        height: 200px;
    }
}