.root {
    padding-bottom: 173px;
}

.title {
    margin-bottom: 12px;
}

.subtitle {
    margin-bottom: 8px;
}

.list {
    max-width: 580px;

    margin: 0 auto;
    padding: 64px 0 20px;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.inner {
    flex-basis: 65%;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

@media screen and (max-width: 630px) {
    .root {
        padding-bottom: 100px;
    }

    .list {
        padding: 36px 0 0;
        gap: 24px;
    }

    .item {
        flex-direction: column-reverse;
        align-items: center;
        gap: 12px;
    }

    .inner {
        flex-basis: fill;

        align-items: center;
        gap: 12px;
    }
}

@media screen and (max-width: 430px) {
    .location {
        font-size: 14px;
        line-height: 16px;
    }
}